.app{
  background: url("https://digitshack.com/codepen/bmical/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}


.frame{
  display: flex;
  border: 2px solid red;
  border-radius: 13px;
  height: 82%;
  width: 310px;
  flex-direction: column;
  gap: 20px ;
  background-color: #f7f7f7;
  
}
h1{
  text-align: center;
  margin-bottom: 0px;
}

.item{
  margin: 0px 30px;
  height: 20%;
  /* border: 1px solid black; */
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  font-weight: 500;
  
}
label{
  margin-top: 6px;
}

.inp{
  outline: none;
  border: none;
  text-align: center;
  border-bottom: 1px solid black;
  height: 25px;

  font-size: 20px;
  width: 155px;
}

button{
  display: block;
  border-radius: 7px;
  border: none;
  padding: 8px;
  margin: 0px auto;
  width: 80%;
  color: white;
  background-color: rgb(24, 81, 212);
}
button:hover{
  background-color: rgb(45, 102, 235);
  cursor: pointer;
}

.display{
  /* border: 1px solid black; */
  margin: 0px 20px;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

p{
  margin: 0px;
  font-weight: bold;
}
.show{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c7c3c3;
  font-size: 30px;
  font-weight: bold;
  color: #1851d4;
  height: 30%;
  width: 40%;
}

.absolute{
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: blue;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}


